* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Josefin;
  src: url(./fonts/JosefinSans-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: Josefin2;
  src: url(./fonts/JosefinSans-VariableFont_wght.ttf);
}
body {
  /* background-image: linear-gradient(rgb:) url(./assets/images/Coffee\ espresso\ template1.jpg); */

  background-image: url(./assets/images/Untitled\ design.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Josefin2;
  color: rgb(75, 38, 20);
}
/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Logo img {
  width: 80px;
  height: 80px;
  padding-left: 40px;
}
.ancor-tags {
  margin-top: 20px;
  padding-right: 60px;
}
.ancor-tags a {
  color: rgb(75, 38, 20);
  background-color: #ffffff6b;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  padding: 12px 20px;
}

/* Home */

.home {
  display: flex;
  justify-content: space-between;
}
.home-heading {
  padding: 150px 70px;
  font-size: large;
  font-family: Josefin;
}
.home-heading h1 {
  font-size: 45px;
}
h1 em {
  font-size: 60px;
  font-style: normal;
}
.home-heading p {
  padding: 5px 0;
}
.home-heading button {
  color: rgb(75, 38, 20);
  border: 1px solid rgb(75, 38, 20);
  background-color: transparent;
  padding: 10px;
  margin-left: 20%;
  margin-top: 15px;
  border-radius: 5px;
}

.offer {
  margin-top: -90px;
  margin-left: -100px;
}
.offer img {
  width: 400px;
}
.home-image {
  width: 400px;
}
.home-image {
  position: relative;
  animation: move 1s both;
}
@keyframes move {
  from {
    right: 0;
  }
  to {
    right: 100px;
  }
}

/* Coffee */
.coffee-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.coffee-container-2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.coffee-container .coffee-cup {
  width: 190px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px;
  background-image: linear-gradient
      (☐ rgba(0, 0, 0, 0.265), ☐ rgba(0, 0, 0, 0.265)),
    url(./assets/images/back4.jpg);
  background-size: cover;
  color: azure;
  color: #fff;
  transition: transform 0.5s ease-in 0.09s;
}
.coffee-cup:hover {
  transform: scale (1.1);
}
.coffee-container-2 .coffee-cup {
  width: 190px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px;
  background-image: linear-gradient (rgba(0, 0, 0, 0.265), rgba(0, 0, 0, 0.265)),
    url(./assets/images/back4.jpg);
  background-size: cover;
  color: azure;
  transition: transform 0.5s ease-in 0.09s;
}
.coffee-cup:hover {
  transform: translateY(-10px);
}
.coffee-cup img {
  width: 150px;
  height: 150px;
  position: relative;
  top: -40px;
  border-radius: 50%;
}

.coffee-cup h2 {
  margin-top: -15px;
}

.coffee-cup p {
  font-size: 13px;
  padding: 5px;
}

/* Image-text */

.image-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 40px;
  margin-top: 30px;
}

.image-text img {
  width: 400px;
  margin-right: 40px;
}

.image-text p {
  font-size: x-large;
  font-weight: 500px;
  text-align: justify;
  margin-right: 30px;
}

/* Cold Coffee */

.cold-coffee-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 90px;
}

.cold-coffee-container .cold-coffee-cup {
  width: 220px;
  height: 260px;
  border: 5px solid white;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px;
  background-color: rgba(185, 117, 83, 0.589);
  transition: transform 0.4s ease-in 0.09s;
}

.cold-coffee-cup:hover {
  transform: translateY(-10px);
}

.cold-coffee-cup img {
  width: 100px;
  height: 150px;
  padding-top: 63px;
}

.cold-coffee-container .text-body {
  background-color: #fff;
  padding: 12px;
}

.cold-coffee-cup .text-body {
  font-size: 3vh;
}

/* coffee-ended */

/* beans-started */

.beans-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.beans-container div {
  text-align: center;
  width: 180px;
  height: 180px;
  border-radius: 10px;
  border: 1px solid burlywood;
  box-shadow: 2px 2px 10px 10px #553826;
}

.beans-container img {
  position: relative;
  top: -130px;
  width: 185px;
}

.beans-container p {
  margin-top: -150px;
}

#heading {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  text-decoration: underline;
  font-size: 30px;
}

/* beans ended */

/* footer */

footer {
  background-image: url(./assets/images/Coffee_Beans_Footer1.png);
  background-size: cover;
  display: flex;
  margin-top: 150px;
  padding-top: 50px;
  justify-content: space-evenly;
  color: #fff;
}

footer ul{
  margin-bottom: 20px;
}

footer h4{
  margin-bottom: 20px;
}

footer ul li {
  list-style-type : none;
  color: #fff;
  padding-top: 5px;
}

footer a img{
  width: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
}

/* Small 1000px */
@media (max-width: 1000px) {
  #Logo img {
    width: 70px;
    height: 70px;
    padding-left: 30px;
  }
  .ancor-tags {
    padding-right: 50px;
  }
  .ancor-tags a {
    padding: 10px 10px;
  }

  /* Home */
  .home-heading {
    padding: 150px 50px;
    font-size: 2.4vh;
  }

  .home-heading h1 {
    font-size: 35px;
  }

  h1 em {
    font-size: 50px;
  }

  .home-heading button {
    padding: 8px;
    margin-top: 8px;
  }
  .offer {
    margin-top: -70px;
    margin-left: -70px;
  }

  .offer img {
    width: 300px;
  }

  @keyframes move {
    from {
      right: 0;
    }
    to {
      right: 50px;
    }
  }

  /* Coffee */
  .coffee-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
  }
  .coffee-container .coffee-cup {
    width: 190px;
    height: 190px;
  }
  .coffee-container-2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
  }
  .coffee-container-2 .coffee-cup {
    width: 190px;
    height: 190px;
  }
  .coffee-cup img {
    width: 150px;
    height: 130px;
  }
  .coffee-cup h2 {
    margin-top: -15px;
  }
  .coffee-cup p {
    font-size: 13px;
    padding: 5px;
  }

  /* Image text */
  .image-text {
    padding: 20px 20px;
  }
  .image-text img {
    width: 300px;
    margin-right: 20px;
  }
  .image-text p {
    font-size: 1.5vh;
    margin-right: 10px;
  }
  /* Cold Coffee */
  .cold-coffee-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 120px;
    margin-bottom: 60px;
  }
  .cold-coffee-container .cold-coffee-cup {
    width: 180px;
    height: 220px;
  }
  .cold-coffee-cup img {
    width: 90px;
    height: 130px;
  }
  .cold-coffee-container .text-body {
    font-size: 2.5vh;
  }
  .cold-coffee-cup .text-body {
    font-size: 1.8vh;
  }

  /* Beans */

  .beans-container {
    display: gird;
    grid-template-columns: 30% 30%;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  .beans-container div {
    width: 250px;
    height: 250px;
  }
  .beans-container img {
    position: relative;
    top: -150px;
    width: 240px;
  }
  .beans-container p {
    margin-top: -180px;
    font-size: 25px;
  }
}
/* Tabs */
@media (max-width: 780px) {
  #Logo img {
    height: 60px;
    width: 60px;
  }
  .ancor-tags a {
    font-size: 2.7vh;
    padding: 5px;
  }

  /* Home */
  .home-heading {
    padding: 100px 20px;
    font-size: 1.8vh;
  }
  .home-heading h1 {
    font-size: 40px;
  }

  h1 em {
    font-size: 40px;
  }
  .home-heading img {
    width: 15px;
    padding: 5px;
  }
  .home-heading p {
    font-size: small;
  }

  .home-heading button {
    padding: 5px;
  }
  .offer {
    margin-top: -70px;
    margin-left: -70px;
  }
  .offer img {
    width: 300px;
  }
  .home-image img {
    width: 300px;
  }
  @keyframes move {
    from {
      right: 0;
    }
    to {
      right: 5%;
    }
  }

  /* Coffee */

  .coffee-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
  }
  .coffee-container .coffee-cup {
    width: 150px;
    height: 150px;
  }
  .coffee-container-2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
  }
  .coffee-container-2 .coffee-cup {
    width: 150px;
    height: 150px;
  }
  .coffee-cup img {
    width: 120px;
    height: 120px;
  }
  .coffee-cup h2 {
    margin-top: -15px;
  }
  .coffee-cup p {
    font-size: 10px;
    padding: 2px;
  }
  .home-image img {
    width: 250px;
  }

  /* Image text */
  .image-text {
    padding: 10px 10px;
  }
  .image-text img {
    width: 300px;
    margin-right: 10px;
  }
  .image-text p {
    font-size: 1.2vh;
    margin-right: 5px;
  }

  /* Cold Coffee */
  .cold-coffee-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .cold-coffee-container .cold-coffee-cup {
    width: 130px;
    height: 170px;
  }
  .cold-coffee-cup img {
    width: 80px;
    height: 100px;
  }
  .cold-coffee-container .text-body {
    font-size: 1.8vh;
  }
  .cold-coffee-cup .text-body {
    font-size: 1.2vh;
  }
  /* Beans */
  .beans-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
  .beans-container div {
    width: 200px;
    height: 200px;
  }
  .beans-container img {
    position: relative;
    top: -150px;
    width: 180px;
  }
  .beans-container p {
    margin-top: -180px;
    font-size: 20px;
  }
}

/*Mobile */
@media (max-width: 420px) {
  #Logo img {
    height: 50px;
    width: 50px;
    padding-left: 10px;
  }
  .ancor-tags {
    padding-right: 10px;
  }
  .ancor-tags a {
    padding: 5px 5px;
    font-size: 1.6vh;
  }

  /* Home */
  .home-heading {
    padding: 60px 20px;
    font-size: 1.8vh;
  }
  .home-heading h1 {
    font-size: 3vh;
  }
  h1 em {
    font-size: 4vh;
  }
  .home-heading img {
    width: 10px;
    padding: 5px;
    margin: 8px 0;
    margin-bottom: 0px;
  }

  .home-heading p {
    font-size: small;
  }
  .home-heading button {
    padding: 5px;
    margin-left: 5px;
    font-size: 1.2vh;
  }
  .offer {
    margin-top: -40px;
    margin-left: -50px;
  }
  .offer img {
    width: 140px;
  }
  .home-image img {
    width: 200px;
  }
  @keyframes move {
    from {
      right: 0;
    }
    to {
      right: 5%;
    }
  }

  /* Image text */
  .image-text {
    padding: 5px 5px;
  }
  .image-text img {
    width: 200px;
    margin-right: 5px;
  }
  .image-text p {
    font-size: 1vh;
    margin-right: 3px;
  }

  /* Coffee */
  .coffee-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
  }
  .coffee-container .coffee-cup {
    width: 100px;
    height: 100px;
  }
  .coffee-container-2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
  }
  .coffee-container-2 .coffee-cup {
    width: 100px;
    height: 100px;
  }
  .coffee-cup img {
    width: 80px;
    height: 80px;
  }
  .coffee-cup h2 {
    margin-top: -10px;
  }
  .coffee-cup p {
    font-size: 8px;
    padding: 1px;
  }
  .home-image img {
    width: 150px;
  }
  /* Cold Coffee */
  .cold-coffee-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .cold-coffee-container .cold-coffee-cup {
    width: 80px;
    height: 100px;
  }
  .cold-coffee-cup img {
    width: 60px;
    height: 60px;
  }
  .cold-coffee-container .text-body {
    font-size: 1.2vh;
  }
  .cold-coffee-cup .text-body {
    font-size: 1vh;
  }
  /* Beans */
  .beans-container {
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    top: 80px;
  }
  .beans-container div {
    width: 250px;
    height: 250px;
  }
  .beans-container img {
    position: relative;
    top: -150px;
    width: 240px;
  }
  .beans-container p {
    margin-top: 1800px;
    font-size: 20px;
  }
  #heading {
    font-size: 30px;
  }
}
